* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}
body {
    background: url(../img/bg.jpg) center/cover;
    min-height: 100vh;
    text-align: center;
    margin: 0 auto;
    color: rgb(99, 97, 197);

    #accueil {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  padding-top: 8px;
  font-size: 6rem;
  background-color: rgb(45, 43, 43);
  font-family: Merriweather, serif;
  font-size: 0.8rem;
  text-align: center;
  color: white;
  border: #acceda solid 1px;
  border-radius: 30px;
  margin: 0 auto;
  width: 130px;
  height: 35px;
}
#accueil:hover {
  cursor: pointer;
  scale: 1.05;
  background: #3c34498c;
  transition: 0.2s;
}

    .card {
        margin: 150px auto;
        height: 600px;
        width: 500px;
        border-radius: 30px;
        background-color: rgba(240, 255, 255, 0.726);
        display: flex;
        flex-direction: column;

        h1 {
            margin: 30px 0;
            font-size: 1.8rem;
        }
        .priceArea {
            margin-bottom: 30px;
            font-size: 1.2rem;
            color: rgb(34, 34, 34);
            #priceByNight{
                width: 60px;
                text-align: right;
                font-size: 1.2rem;
                border: none;
                background-color: rgba(186, 229, 214, 0.351);
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin:0;
                }
            }
        }
        
        form {
            display: flex;
            flex-direction: column;
            
            input {
                outline: none;
                margin: 10px auto;
                border-radius: 10px;
                border: 1px rgb(118, 59, 226) solid;
                width: 50%;
                height: 50px;
                text-align: center;
                font-size: 1.5rem;
                cursor: pointer;
                @media screen and (max-width: 500px) {                    
                        width: 55%;
                        font-size: 1.2rem;
                    }
                }
                
                label {
                    font-size: 1.2rem;
                }
                .PriceAreaTotal {
                    margin: 20px;
                    font-size: 1.2rem;
                    font-weight: bold;
                }
                #validate {
                    display: none;
                    width: 120px;
                    background-color: rgb(118, 59, 226);
                    opacity: 1;
                    color: azure;
                }
                #validate:hover {
                    background-color: azure;
                    color: rgb(118, 59, 226);
                    border: 2px solid rgb(118, 59, 226);
                    cursor: pointer;
                }
            }
            @media screen and (max-width: 840px) {                    
                        width: 60%;
            }
            
            }
        }
        