// ****************     DECLARATION DES FONTS       ***************

@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter_18pt-ExtraBold.ttf);
}

@font-face {
    font-family: "Merriweather";
    src: url(../fonts/Merriweather-Light.ttf);
}

@font-face {
    font-family: "Dancing";
    src: url(../fonts/DancingScript-Regular.ttf);
}

// ****************     DECLARATION DES VARIABLES       ***************
$font1: Inter, sans-serif;
$font2: Merriweather, serif;
$font3: Dancing, arial;
$grey1: #F3F3F3;
$grey2: grey;
$grey3: rgba(128, 128, 128, 0.226);
$white: #FFFFFF;
$black: #000;

// ****************     PARAMETRES GENERAUX       ***************

* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    user-select: none;

}

body {
    background: url(../img/bg.webp) center/cover fixed;
    text-align: center;
    justify-content: center;
    width: 70%;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;

    @media screen and (max-width: 620px) {
        width: 90%;
    }
}

h1,
h2,
h3,
a {
    font-family: $font1;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
}

p {
    font-family: $font2;
    line-height: 30px;
}

a {
    letter-spacing: 2px;
}

a:visited {
    color: unset;
}

button {
    margin-top: 40px;
    width: 180px;
    height: 50px;
    border: solid 2px $black;
    background-color: $white;
    text-transform: uppercase;
    font-family: $font1;
    letter-spacing: 3px;
}

button:hover {
    background-color: $grey2;
    border: $grey1;
    color: $grey1;
    transition: 0.2s;
    cursor: pointer;
}

// ****************     MIXIN      ***************

@mixin network {
    display: flex;
    margin: 20px 0 8px;
    font-size: 1.5rem;
}