// ####################    HEADER    #################

header {
    min-height: 74vh;
    padding-top: 250px;

    h1 {
        color: $white;
        font-size: 4rem;
        width: 70%;
        margin: 0 auto 40px;
        letter-spacing: 10px;

        @media screen and (max-width: 940px) {
            width: 100%;
            font-size: 5vw;
        }

        @media screen and (max-width: 620px) {
            font-size: 1.8rem;
        }
    }

    p {
        color: $white;
        font-size: 0.8rem;
        width: 90%;
        margin: 0 auto 70px;
        font-style: italic;
    }

    i {
        color: $white;
        font-size: 1.5rem;
        border: 2px solid $white;
        width: 70px;
        height: 70px;
        border-radius: 100px;
        align-items: center;
        padding: 22px;
        margin-bottom: 150px;
    }
}