main {
    background: $white;

    .section-1 {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 80px;

        img {
            width: 100%;
        }

        .date-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 60px 0;

            h4 {
                font-family: $font2;
                font-size: 1.1rem;
                font-weight: 100;
            }

            .line {
                width: 30%;
                border: solid 1px $grey1;

                @media screen and (max-width: 750px) {
                    width: 25%;
                }
            }
        }

        h2 {
            font-size: 2.2rem;
            width: 70%;
            margin: 0 auto;
        }

        p {
            font-size: 0.8rem;
            font-style: italic;
            line-height: 35px;
            width: 70%;
            margin: 0 auto;
            padding: 50px 0;
        }
    }

    .section-2 {
        display: grid;
        grid-template-columns: 50% 50%;
        border-top: solid 1px $grey3;

        .part {
            position: relative;
            min-height: 715px;
            border-right: solid 1px $grey3;

            h5 {
                margin: 50px 0 30px;
                font-family: $font2;
                font-size: 0.8rem;
                font-weight: 100;
            }

            h3 {
                width: 60%;
                min-height: 70px;
                margin: 0 auto;
            }

            img {
                width: 80%;
                margin-top: 30px;
            }

            p {
                font-size: 0.8rem;
                text-align: justify;
                line-height: 35px;
                width: 70%;
                margin: 0 auto 50px;
                padding: 50px 0 50px;
            }

            button {
                position: absolute;
                bottom: 30px;
                transform: translateX(-50%);
                left: 50%;
                margin-top: 20px;
            }
        }

        @media screen and (max-width: 620px) {
            display: block;
        }

    }
}